<div class="post-archive">
  <% posts.group_by(&:year).each do |year, posts_by_year| %>
    
    <% index = 0 %>
    <% posts_by_year.group_by(&:month).each do |month, posts_by_month| %>
      <div class="month<%= ' alt' if (index += 1) % 2 == 0 %>">
        <ul class="posts">
          <% posts_by_month.group_by(&:day).each do |day, posts_by_day| %>
            
                <% posts_by_day.each_with_index do |post, index| %>
                  <li><%= link_to h(post.title), post_seo_path(@blog, post) %></li>
                <% end %>
              
          <% end %>
        </ul>
      </div>
    <% end %>
    
  <% end %>
</div>
